

<button class="QuickLinkContent" @onclick="FireQuickLink" title="Add Quick Link">
    <div class="QuickLinkBookMarkImageContainer">
        <div style="font-size: x-large">+</div>
    </div>
    <br>
    <span class="QuickLinkTitle">Add Quick Link</span>
</button>
@code {

    private void FireQuickLink()
    {
        
    }

}