@inherits ComponentBase
<div>
    <a href="https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage" class="MS365Link">
        <label style="font-size: 24px;">Microsoft 365</label>
        <img src=".\icons\microsoft_logo_white_border.png" height="42" width="42" alt="Microsoft Logo">
    </a>
    <div>
        <table>
            <tr >
                <td class="M365TableCellLeft">
                    <a href="https://my.visualstudio.com/" class="office365Link">
                        <label style="cursor:pointer">Visual Studio</label>
                        <img src=".\icons\visual_studio_green.png" width="26" height="26">
                    </a>
                </td>
                <td class="M365TableCellRight">
                    <a href="https://portal.azure.com/#home" class="office365Link">
                        <label style="cursor:pointer">Azure</label>
                        <img src=".\icons\azure_green_border.png" width="26" height="26">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="M365TableCellLeft">
                    <a href="https://www.outlook.com" class="office365Link">
                        <label style="cursor:pointer">Outlook</label>
                        <img viewbox="0 0 22 22" width="22px" height="22px" src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/Outlook_24x.svg">
                    </a>
                </td>
                <td class="M365TableCellRight">
                    <a href="https://onedrive.live.com" title="OneDrive" aria-label="OneDrive" class="office365Link">
                        <label style="cursor:pointer">OneDrive</label>
                        <img slot="start" viewbox="0 0 22 22" width="22px" height="22px"
                             src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/OneDrive_24x.svg">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="M365TableCellLeft">
                    <a href="https://www.office.com/launch/word?auth=1" class="office365Link">
                        <label style="cursor:pointer">Word</label>
                        <img slot="start" viewbox="0 0 22 22" width="22px" height="22px"
                             src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/Word_24x.svg">
                    </a>
                </td>
                <td class="M365TableCellRight">
                    <a href="https://www.office.com/launch/excel?auth=1" title="Excel" aria-label="Excel" class="office365Link">
                        <label style="cursor:pointer">Excel</label>
                        <img slot="start" viewbox="0 0 22 22" width="22px" height="22px"
                             src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/Excel_24x.svg">
                    </a>
                </td>
            </tr>
            <tr>
                <td class="M365TableCellLeft">
                    <a href="https://www.office.com/launch/powerpoint?auth=1" class="office365Link">
                        <label style="cursor:pointer">PowerPoint</label>
                        <img slot="start" viewbox="0 0 22 22" width="22px" height="22px"
                             src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/PowerPoint_24x.svg">
                    </a>
                </td>
                <td class="M365TableCellRight">
                    <a href="https://www.onenote.com/notebooks?auth=1" class="office365Link">
                        <label style="cursor:pointer">OneNote</label>
                        <img slot="start" viewbox="0 0 22 22" width="22px" height="22px"
                             src="https://assets.msn.com/staticsb/statics/latest/icons/office-icons/OneNote_24x.svg">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div style="padding-top: 15px">
        <a href="https://www.office.com/apps?auth=1" class="office365Link">
            <label style="cursor:pointer">All Office Apps</label>
            <svg width="14" height="13" class="arrow-icon" viewBox="0 0 14 13"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M7.54848 0L14 6.5L7.54848 13L6.93144 12.3783L12.3271 6.94208H0V6.05792H12.3271L6.93144 0.621679L7.54848 0Z"></path>
            </svg>
        </a>
    </div>
</div>

@code {

}