@page "/newtab.html"
@using BlazorLiquidSeperation.Models
@using System.Text.Json
@using BlazorFluentUI
@using Blazorise;
@inherits Blazor.BrowserExtension.Pages.BasePage;
@inject IJSRuntime JS;

<Layout>
    <LayoutHeader>
        <div class="text-center header">Header</div>    
    </LayoutHeader>
    <LayoutContent>
        <div class="text-center main"  style="height">Main</div>
    </LayoutContent>
    <LayoutFooter>
        <div class="text-center footer">Footer</div>
    </LayoutFooter>
</Layout>


@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetBingImage();
        await base.OnAfterRenderAsync(firstRender).ConfigureAwait(false);
    }

    public async Task GetBingImage()
    {
        try
        {
            System.Console.WriteLine("Test method fired");
            var url = "https://peapix.com/bing/feed?country=US";
            var httpClient = new HttpClient();
            System.Console.WriteLine("We made a web request");
            var response = await httpClient.GetAsync(url).ConfigureAwait(false);
            System.Console.WriteLine("We finished the web request");
            var json =  await response.Content.ReadAsStringAsync().ConfigureAwait(false);
            System.Console.WriteLine($"The Json: {json}");
            System.Console.WriteLine("Deserializing the images.");
            var images = JsonSerializer.Deserialize<List<BingImage>>(json);
            System.Console.WriteLine("Finished serializing the images");
            if (images != null)
            {
                System.Console.WriteLine("We got images");
                foreach (var bingImage in images)
                {
                    System.Console.WriteLine($"An Image we Got: {bingImage.Title} - {bingImage.PageUrl}");
                }
                System.Console.WriteLine("Trying to set the image...");
                var firstImage = images.FirstOrDefault();
                if (firstImage != null)
                {
                    await JS.InvokeVoidAsync("setBackgroundImage1", firstImage.FullUrl).ConfigureAwait(false);
                    System.Console.WriteLine("Image set");
                }
                else
                {
                    System.Console.WriteLine("We didn't sent the image because for some reason we didn't get anything back from the first item returned by the web request. :-/");
                }
            }
            else
            {
               System.Console.WriteLine("The image collection was null, we probably screwed up deserializing the JSON :-/");
            }
        }
        catch (Exception e)
        {
            System.Console.WriteLine("We got an error.");
            System.Console.WriteLine(e);
        }
    }


}


