@page "/options.html"
@inherits BasePage

<div class="container-fluid">
    <div class="row" style="height: 20%"></div>
    <div class="row" style="height: 50%">
        <div class="col" style="width: 15px"></div>
        <div class="col-6">
            <contianer>
                <form @onsubmit="SaveChanges">
                    <div class="input-group mb-3">
                        <label for="bookMarkFolderInput" class="col-form-label">Bookmark Folder Name</label>
                        <textarea id="bookMarkFolderInput" class="form-control" rows="1" @bind="BookmarkFolderName"></textarea>
                        <button type="submit" class="btn btn-primary mb-3" id="saveChangesBtn">Save Changes</button>
                    </div>
                </form>
            </contianer>
        </div>
        <div class="col" style="width: 15px"></div>
    </div>
    <div class="row" style="height: 30%">
        <div class="col-12"></div>
        <div class="col-3">
            <div class="position-fixed p-3" style="z-index: 11">
                <div id="saveChanges" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Changes Saved</strong>
                        <button type="button" class="btn-primary" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Changes saved successfully!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        BookmarkFolderName = Settings.GetSettingValue(Settings.QuickLinkBookMarkFolder);
        Console.WriteLine($"Getting bookmark folder name:{Settings.QuickLinkBookMarkFolder}");
        return base.OnInitializedAsync();
    }

    public string BookmarkFolderName { get; set; }
    public void SaveChanges()
    {
        Console.WriteLine($"Changing book mark folder to {BookmarkFolderName}");
        Settings.UpdateSetting(Settings.QuickLinkBookMarkFolder, BookmarkFolderName );
        Settings.SaveAsync();
        Console.WriteLine("Settings Saved");
    }

}
