@page "/background.html"
@inherits Blazor.BrowserExtension.Pages.BackgroundPage
@using WebExtensions.Net;
@using WebExtensions.Net.Runtime
@using WebExtensions.Net.Tabs
<h3>Background</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}