/*M365 Menu Styles*/
.office365Link {
    color: ghostwhite;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.office365Link:hover {
    background-color: rgba(158, 158, 158, 0.45);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.MS365Link {
    color: ghostwhite;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
}

.MS365Link:hover {
    background-color: rgba(158, 158, 158, 0.45);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.M365TableCellLeft {
    padding-top: 10px;
    padding-bottom: 10px
}

.M365TableCellRight {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px
}

.M365DropDownStyle {
    border: 1px solid transparent;
}

.M365PopUp{
    margin-left: 15px; border: 5px solid transparent;     background: #4a4a4a;
}

/*Search Box Styles*/
.SearchBoxOuterDivStyle {
    box-shadow: 0 0px 2.25px 1px #4f4f4f;
}

.SearchBoxFormStyle {
    box-shadow: inset 20px 0px 4px 2px #4f4f4f;
}

.SearchBoxStyle {
    background: #4a4a4a;
    border: none;
    color: whitesmoke;

}

.SearchBoxStyle:focus-within {
    background: #4a4a4a;
    border: none;
    color: whitesmoke;
}

.SearchButtonStyle {
    background: #4a4a4a;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
    display: inherit;
    border: none;
    color: whitesmoke;
    box-shadow: none;
}

/*Header Icon Styles*/

.TopMenuIconStyle {
    border: none;
    background: transparent;
    transition: all 0.1s ease-in-out;
}

.TopMenuIconStyle:hover {
    opacity: 0.90;
    background: #242424;
    border-radius: 4px;
}

.TopMenuIconStyle:active {
    border-color: #7E7F80;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background: transparent;
}

.TopMenuRewardsStyle {
    border-radius: 15px;
    border: solid 2px;
}

/*Image navigation button styles*/

.imageNavigationButtonStyle {
    background: #4a4a4a;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    border-style: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.imageNavigationButtonStyle:active {
    border-color: #7E7F80;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background: transparent;
}

.imageNavigationButtonStyle:hover {
    opacity: 0.90;
    background: #242424;
}

/*Quick Link Styles*/

.QuickLinkContent {
    height: 80px;
    background: transparent;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    border-style: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.QuickLinkContent:active {
    border-color: #7E7F80;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background: transparent;
}

.QuickLinkContent:hover {
    opacity: 0.90;
    background: #242424;
}

.QuickLinkBookMarkImageContainer {
    background: #4a4a4a;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QuickLinkBookMarkImage {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.QuickLinkTitle {
    font-size: 13px;
    box-sizing: content-box;
    max-height: 16px;
    margin-top: 40px;
    font-family: "Segoe UI Semibold", Helvetica, SansSerif, serif;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-wrap: break-word;
    inline-size: 100%;
}

.QuickLinkContainer {
    position: relative;
    flex: auto;
    width: 80%
}

